<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <title>Add Data Template</title>
</head>
<form action="#" method="POST" >
    <p>Show Name to be updated: </p>
    <p><input type = "text" name = "namefind" /></p>

    <p>Show Name: </p>
    <p><input type = "text" name = "name" /></p>

    <p>Number of Seasons: </p>
    <p><input type = "int" name = "seasons" /></p>

    <p>Episode Duration: </p>
    <p><input type = "text" name = "duration" /></p>

    <p>Year Started: </p>
    <p><input type = "int" name = "year" /></p>
    
    <p> <input type = "submit" value = "submit" /></p>
    
</form>
</html>